@font-face{
  font-family: NotoSansThai-Bold;
  src: url(../fonts/NotoSansThai-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: NotoSansThai-Light;
  src: url(../fonts/NotoSansThai-Light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: NotoSansThai-Medium;
  src: url(../fonts/NotoSansThai-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: NotoSansThai-SemiBold;
  src: url(../fonts/NotoSansThai-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: NotoSansThai-Regular;
  src: url(../fonts/NotoSansThai-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}  
a:hover{
  text-decoration: none;
}  
   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}   
body{ 
  font-family: NotoSansThai-Regular;
}
.menu-left{
  background-color: #333333;
  width: 64px;
  height: 100vh;
  padding: 15px 8px;
  z-index: 3;
  position: relative;
} 
.menu-left .logo img{
  width: 35px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-menu{
  list-style: none;
  padding-left: 0px;
  z-index: 3;
}
.main-menu li{ 
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
.main-menu li.active{ 
  background-color: black;
}
.main-menu li.active:after{ 
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  border-radius: 2px;
  left: 3px;
  top: 0;
  bottom: 0;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #2BA6DE;
}
.main-menu li:hover img{  
  opacity: 1;
}
.main-menu li img{
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover; 
  opacity: .75;
}
.menu-tab{
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EDEDED;
  width: 253px;
  height: 100vh;
  margin-left: 64px;
  padding: 15px 8px;
}
.menu-tab .data{
  display: none;
}
.menu-tab .data.active{
  display: block;
}
.menu-tab .data h3{ 
  color: #333;
  font-size: 20px;
  margin-bottom: 20px; 
}
.menu-tab .data h6{ 
  color: rgba(51, 51, 51, 0.7);
  font-size: 12px;   
}
.ul-tabs-menu{
  list-style: none;
  padding-left: 0px;
}
.ul-tabs-menu li{
  cursor: pointer;
  width: 100%;
  color: #6C6C6C;
  height: 30px;
  padding-left: 44px;
  padding-top: 7px;
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.ul-tabs-menu li.active{ 
  color: #333;
  background-color: #FAFAFA;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
}
.ul-tabs-menu li:hover{  
  background-color: #FAFAFA; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
  border-radius: 4px;
}
.ul-tabs-menu li.active i{ 
  color: #2BA6DE; 
}
.ul-tabs-menu li i{ 
  position: absolute;
  left: 0;
  margin-left: 24px;
  margin-top: 4px;
}
.drive-space{
  background-color: #EDEDED;
  border-top: 2px solid #fff; 
  padding: 12px;
  position: absolute;
  bottom: 0;
  width: 100%; 
  left: 0;
}
.drive-space{
  font-size: 12px;
  color: #00bfa5;
}
.drive-space p{
  font-size: 12px;
  color: #6C6C6C;
  margin-bottom: 5px;
}
.drive-space p a{ 
  color: #00bfa5;
  float: right;
}
.drive-space span{
  font-size: 12px;
  color: #6C6C6C;
}
.drive-space .storage-graph{
  background-color: rgba(0, 0, 0, 0.2);
  height: 6px;
  margin-bottom: 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.drive-space .storage-graph span {
  height: 6px;
  position: absolute;
  background: #333;
  border-radius: 8px 0px 0px 8px;
}
.topbar{ 
  position: absolute;
  height: 48px;
  width: 100%;
  background-color: #fff;
  text-align: right;
  z-index: 1;
}
.topbar ul{ 
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 48px;
  padding: 0px 16px;
}
.menu-end{
  cursor: pointer;
}
.topbar ul li{ 
  margin-left: 10px;
  margin-right: 10px; 
}
.topbar > ul > li > a{
  font-size: 22px;    
  color: #222;
  width: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.topbar >  ul > li a i{
  font-size: 22px;    
  color: #222; 
}
.topbar .user{
  position: absolute;
  right: 0;
  margin-right: 60px;
}
.topbar .user .dropdown-menu{
  min-width: 300px; 
}
.topbar .user .dropdown-toggle img{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100%;
}
.topbar .alert{
  position: absolute;
  right: 0;
  margin-right: 100px;
  top: 0px;
}
.topbar .alert .dropdown-menu{
  min-width: 400px;
  min-height: 300px;
}
.topbar .dropdown-toggle::after{
  content: none;
}
.menu-right{
  display: none;
}
.menu-right.active{
  border-left: 1px solid #EDEDED;
  padding: 20px;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 253px;
  height: 100vh;
  background-color: #fff;
}
.menu-right .closex{
  color: #222;
  font-size: 20px;
  text-align: right;
  float: right;
  cursor: c;
}
.topbar-menu{ 
  padding-right: 16px;
  top: 48px;
  right: 0;
  position: absolute;
  height: 48px;
  width: 100%;
  background-color: #fff;
  text-align: right;
  z-index: 1;
  border-bottom: 1px solid #EDEDED;
}